@font-face {
    font-family: 'Trirong';
    src: url('../fonts/Trirong/Trirong-Regular.eot');
    src: url('../fonts/Trirong/Trirong-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Trirong/Trirong-Regular.woff2') format('woff2'), url('../fonts/Trirong/Trirong-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.eot');
    src: url('../fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}